<h1>Edit Landmark</h1>

<form action="/landmarks/<%= @landmark.id %>" method="post">
  <input type="hidden" name="_method" value="put">
  <label>Name</label>
  <input type="text" name="landmark[name]" id="name" value="<%= @landmark.name %>"><br>
  <label>Year Completed</label>
  <input type="text" name="landmark[year_completed]" id="year_completed" value="<%= @landmark.year_completed %>"><br>
  <br>
  <button type="submit">Edit Landmark</button><br>
  <a href="/landmarks/<%= @landmark.id %>" class="btn btn-default">Cancel</a>
</form>
