<h3>Landmarks</h3>
<a href="/landmarks/new" class="btn waves-effect waves-light teal lighten-2">Create Landmark
  <i class="material-icons right">trending_flat</i>
</a><br>
<br>
<table class="bordered highlight">
  <tr>
    <th>Name</th>
    <th>Year Completed</th>
  </tr>
  <% @landmarks.each do |landmark| %>
  <tr>
    <td>
      <a href="/landmarks/<%= landmark.id %>"><%= landmark.name %></a>
    </td>
    <td><%= landmark.year_completed %></td>
  </tr>
  <% end %>
</table>
<br>
<br>
<a href="/figures" class="btn waves-effect waves-light teal lighten-2">Go to Figures</a>
<a href="/" class="btn waves-effect waves-light teal lighten-2">Go to Home Page</a>
