<h2>New Landmark</h2>

<form action="/landmarks" method="post">
  <label>Name</label>
  <input type="text" name="landmark[name]" id="landmark_name"><br>
  <label>Year Completed</label>
  <input type="text" name="landmark[year_completed]" id="landmark_year_completed"><br>
  <button type="submit" class="btn waves-effect waves-light teal lighten-2">Create New Landmark
    <i class="material-icons right">mode_edit</i>
  </button>
</form>
