<h1><%= @landmark.name %></h1>
<table>
  <tr>
    <th>Name</th>
    <th>Year Completed</th>
  </tr>
  <tr>
    <td><%= @landmark.name %></td>
    <td><%= @landmark.year_completed %></td>
  </tr>
  <table>
    <a href="/landmarks/<%= @landmark.id %>/edit" class="btn btn-default">Edit</a>
    <a href="/landmarks" class="btn btn-default">Landmarks Index</a>
