<h1>New York City Historical Database</h1>

<img src="/images/NYC.jpg" alt="Sick skyline, bro"><br>
<br>
<a href="/figures" class="btn">Go to Figures</a>
<a href="/landmarks" class="btn">Go to Landmarks</a>
